@font-face {
  font-family: 'Friz Quadrata Std';
  font-style: italic;
  font-weight: normal;
  src: local('Friz Quadrata Std Italic'), url('/fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}


@font-face {
  font-family: 'Friz Quadrata Std';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Medium'), url('/fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}


@font-face {
  font-family: 'Friz Quadrata Std';
  font-style: normal;
  font-weight: bold;
  src: local('Friz Quadrata Std Bold'), url('/fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
  font-family: 'Friz Quadrata Std';
  font-style: italic;
  font-weight: bold;
  src: local('Friz Quadrata Std Bold Italic'), url('/fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}

@font-face {
  font-family: 'Vermin Vibes 1989';
  font-style: normal;
  src: local('Vermin Vibes 1989'), url('/fonts/Vermin Vibes 1989.woff') format('woff');
}

@font-face {
  font-family: 'Alagard';
  font-style: normal;
  src: local('Alagard'), url('/fonts/alagard.woff');
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --gp-black: #101010;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--gp-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Alagard', serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
